apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-podname-deployment
spec:
  replicas: 15
  selector:
    matchLabels:
      app: nginx-podname
  template:
    metadata:
      labels:
        app: nginx-podname
    spec:
      initContainers:
      - name: write-index
        image: busybox:1.36
        command:
          - /bin/sh
          - -c
          - |
            echo "<h1>Welcome to NGINX Pod: $POD_NAME</h1>" \
            > /workdir/index.html
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - name: html
          mountPath: /workdir

      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html

      volumes:
      - name: html
        emptyDir: {}
